node_modules
dist
.DS_Store
*.log
.wrangler
.astro
.obsidian
.starlight-icons
examples/**/node_modules
examples/**/dist
examples/**/.wrangler
examples/**/.dev.vars
examples/**/.env
examples/**/.env.local
